//mixins
@mixin wh($width, $height) {
  width: $width;
  height: $height;
}
@mixin fonts($font, $size, $color) {
  font-family: $font;
  font-size: $size;
  color: $color;
}

//variables
$Selima : "selima";
$Droid: "Droid Serif", serif;
$Muli: "Muli", sans-serif;
$blue : #43D8E5;
$white: #fff;
$black: #323333;


.navbar {
   padding: 20px 0;
  img {
    margin-left: 50px;
    @include wh(70px, 70px);
  }
  li a{
    margin-top: 10px;
    margin-right: 40px;
    @include fonts($Muli, 17px, $blue);
  }
}
#Tcheny {
  font-family: $Droid;
  .titlecontact {
    padding-bottom: 50px;
      @include fonts($Selima, 50px, $black);
  }
  // .formulaire {
  //   margin-top: 20px;
  // }
  .formline {
    margin-bottom: 10px;
  }
}
